@page "/analysis"

<h1>Sentiment Analysis Scale</h1>
<p>Diga como se sente.</p>

<p><textarea oninput=@UpdateScore cols="80"></textarea></p>

<AnalysisSentimentScale Value=@happiness />

@functions {
    float happiness = 50;

    void UpdateScore(UIChangeEventArgs evt)
    {
        var text = (string)evt.Value;
        happiness = AnalysisSentimental.Service.SentimentAnalysis.GetPrediction(text).Percentage;
    }
}