@page "/analysis"

<h1>Sentiment Analysis Scale</h1>
<p>Diga como se sente.</p>

<p><textarea @oninput="UpdateScore" cols="80"></textarea></p>

<AnalysisSentimentScale Value=@happiness />

@functions {
    float happiness = 50;

    public void UpdateScore(ChangeEventArgs evt)
    {
        var text = (string)evt.Value;
        happiness = SentimentAnalysis.Service.SentimentAnalysis.GetPrediction(text).Percentage;
    }
}